.streams-list {
  max-width: 500px;
  margin: 0 auto;

  h1 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .stream-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 3px;

    img {
      margin-right: 20px;
    }

    .stream-item-content {
      flex: 5;
    }

    .title {
      font-size: 18px;
    }

    .description {
      font-weight: 400;
      color: #666;
    }
  }

  .stream-item + .stream-item {
    margin-top: 15px;
  }
}
